<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <div class="movie-info">
    <div class="movie-cover" style="background-image: url(<%- helper.coverUrl(movie) %>)" title="<%= movie.title %>">
      <span class="back-arrow"><a href="javascript:history.back();"><i class="fa fa-arrow-left fa-lg"></i></a></span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-5 col-md-3 col-lg-2">
          <img src="<%- helper.posterUrl(movie) %>" alt="<%= movie.title %>" class="movie-poster">
        </div>
        <div class="col-7 col-md-9 col-lg-10">
          <h1>
            <%= movie.title %>
          </h1>
          <div class="movie-details">
          <p>
            <%= new Date(movie.release_date).toLocaleDateString("en-US", { year: 'numeric' }) %>
            <span class="p-1">·</span>
            <%= helper.rating(movie.vote_average) %> User Score
          </p>
          <p>
            <%= helper.minsToHrsMins(movie.runtime) %>
          </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="mb-4 mt-4"/>
          <h2 class="mb-3">Overview</h2>
          <p>
            <%= movie.overview %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% include partials/scripts.ejs %>
</body>

</html>
